// body BG
$body_bg: url(../images/body-bg.png);
$body_bg_light:url(../images/body-bg-light.png);
// Fonts

$font-SheepingDog : url(fonts/SheepingDogs_f.ttf);
$font-KenyanCoffeeReg:  url(fonts/Kenyan-Coffee/KenyanCoffee.ttf);
$font-KenyanCoffeeBold:  url(fonts/Kenyan-Coffee/KenyanCoffee-Bold.ttf);
$products_bg_home:url(../images/product-bg.png);
$arrow_right: url(../images/arrow-circle-right_white.svg);

$shape1: url(../images/Shape-1.png);
$shape2: url(../images/Shape2.png);
$shape3: url(../images/Shape3.png);
$shape4: url(../images/shape4.png);


$watershape1:url(../images/watershape1.png);
$watershape2:url(../images/watershape2.png);
$watershape3:url(../images/watershape3.png);
$watershape4:url(../images/watershape4.png);

$borderbottom: url(../images/border-bottom.png);
$bannercevtor: url(../images/banner_vector.png);
$communitybg:url(../images/joincommunity-bg.png);
$mint-bg:url(../images/mint-bg.png);
