.box {
    position: relative;

    &.checkout-signin {
        span {
            &.op-or {
                color: white;
                font-size: 16px;
                background: $orange;
                width: 47px;
                display: block;
                height: 47px;
                margin: 10px auto;
                text-align: center;
                line-height: 32px;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 7px #ffcf784d;
                border: 7px solid #ffffff8c;
                font-weight: 500;
            }
        }

        ul {
            &.socialmedia {
                padding-left: 0;
                display: flex;
                padding-top: 10px;
                margin: 0px;
                align-items: center;
                justify-content: center;

                li {
                    display: inline-block;
                    float: left;
                    margin: 4px;
                    border-radius: 50%;
                    overflow: hidden;
                    max-width: 45px;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    &.border-n-radius {
        border-radius: 15px;
        border: 1px solid;
        border-color: #d7d7d9;
        padding: 22px 25px;
        margin-bottom: 20px;

        @media (max-width:768px) {
            padding: 16px 15px;
            border-radius: 10px;

            &.content {

                p,
                .fs-large {
                    font-size: 14px !important;
                    padding-left: 10px;
                }
            }
        }
    }

    &.white-box {
        padding: 40px 50px;
        background-color: rgba($white, .99);
        border-radius: 20px;

        @media (max-width:768px) {
            padding: 30px 20px;

        }

        a.back-btn {

            position: absolute;
            left: 30px;
            width: 50px;
            height: 50px;
            padding: 10px;
            top: 20px;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;

            &:hover {
                background-color: rgba($primary, .8);

                img {
                    filter: brightness(100) invert(1);
                }
            }

            @media (max-width:768px) {
                width: 36px;
                height: 36px;
                padding: 8px;
                top: -15px;
                left: -15px;
                background-color: rgba($primary, .5);
                color: white;

                img {
                    filter: brightness(100) invert(1);
                }
            }

        }

        .form-check-input {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .form-check-input:checked {
            background-color: var(--bs-orange2);
            border-color: var(--bs-orange2);
        }

        .alert {
            img {

                max-height: 21px;
                margin-left: 10px;
            }

            font-weight: 600;

        }
    }

    &.purchase-comp {
        display: flex;
        align-items: center;
        border-radius: 30px;
        flex-wrap: wrap;
        // overflow: hidden;
        background-color: white;
        box-shadow: 30px 30px 10px 7px rgba($purple, .1);

        img {
            transform: scale(1.8) translateX(0%);
            max-width: 230px;
            width: 100%;
        }

        .lightbg {
            background-color: rgba($primary, .1);
            border-radius: 30px 0 0 30px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 500px;
        }

        .content {
            max-width: 380px;

            margin: auto;
            padding: 40px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 18px;
                padding: 5px 0;
                color: #6c757d;
            }

            a {
                margin: 8px 0;
                font-size: 18px;
            }

            .purple_rounded_btn {
                background-color: rgba($primary, .2);
                color: rgba($primary, 1);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                padding: 8px 20px;
                width: 100%;
                border-radius: 12px;
            }
        }

        @media (max-width:768px) {
            border-radius: 16px;

            .lightbg {
                min-height: 340px;
                height: auto;
                border-radius: 16px 0 0 16px;

                img {
                    transform: scale(1.5) translateX(-10%);
                }
            }

            .content {
                padding: 25px 18px;

                p,
                a {
                    font-size: 12px;
                }
            }

            .purple_rounded_btn {
                font-size: 12px !important;
                padding: 8px 15px !important;
            }
        }

        @media (max-width:576px) {
            .content {

                p,
                a {
                    font-size: 10px;
                    margin-bottom: 0;
                }

                .purple_rounded_btn {
                    font-size: 10px !important;
                    padding: 6px 10px !important;
                }

                .title {
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    &.verified {
        background-color: white;
        background-image: linear-gradient(to bottom, #6c34a930 50%, white 50% 100%);
        display: flex;
        align-items: center;
        border-radius: 30px;
        flex-wrap: wrap;
        // overflow: hidden;
        box-shadow: 30px 30px 10px 7px rgba($purple, .1);


        .content {
            max-width: 380px;

            margin: auto;
            padding: 40px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 18px;
                padding: 5px 0;
                color: #6c757d;

            }

            a {
                margin: 8px 0;
                font-size: 18px;
            }

            .purple_rounded_btn {
                background-color: rgba(#3440bb, .3);
                color: rgba(#fff, 1);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                padding: 8px 20px;
                border-radius: 12px;
            }
        }

        .text-purple {
            color: rgba(var(--bs-dk-purple-rgb), .7) !important
        }

        .title {
            color: #C456AD;
        }

        @media (max-width:768px) {
            border-radius: 16px;



            .content {
                padding: 25px 18px;

                p,
                a {
                    font-size: 12px;
                }
            }

            .purple_rounded_btn {
                font-size: 12px !important;
                padding: 8px 15px !important;
            }
        }

        @media (max-width:576px) {
            .content {





                .title {
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    &.reg-succ {
        display: flex;
        align-items: center;
        border-radius: 30px;
        flex-wrap: wrap;
        // overflow: hidden;
        background-color: white;
        box-shadow: 30px 30px 10px 7px rgba($purple, .1);

        img {
            transform: scale(1.8) translateX(0%);
            max-width: 230px;
            width: 100%;
        }

        .lightbg {
            background-color: rgba(#3440bb, .1);
            border-radius: 30px 0 0 30px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 500px;
        }

        .content {
            max-width: 380px;

            margin: auto;
            padding: 40px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 18px;
                padding: 5px 0;
                color: #6c757d;

            }

            a {
                margin: 8px 0;
                font-size: 18px;
            }

            .purple_rounded_btn {
                background-color: rgba(#3440bb, .3);
                color: rgba(#fff, 1);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                padding: 8px 20px;
                border-radius: 12px;
            }
        }

        @media (max-width:768px) {
            border-radius: 16px;

            .lightbg {
                min-height: 340px;
                height: auto;
                border-radius: 16px 0 0 16px;

                img {
                    transform: scale(1.5) translateX(-10%);
                }
            }

            .content {
                padding: 25px 18px;

                p,
                a {
                    font-size: 12px;
                }
            }

            .purple_rounded_btn {
                font-size: 12px !important;
                padding: 8px 15px !important;
            }
        }

        @media (max-width:576px) {
            .content {

                p,
                a {
                    font-size: 10px;
                    margin-bottom: 2px;
                }

                .purple_rounded_btn {
                    font-size: 10px !important;
                    padding: 6px 10px !important;
                }

                .title {
                    font-size: 12px !important;
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    &.connect-wallet {

        max-width: 500px;
        border-radius: 10px;
        border: 1px solid;
        border-color: #d7d7d9;
        width: 100%;
        padding: 25px 25px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
            &:last-of-type{
                margin-bottom: 0px;
            }
        .wallet-logo{
            display: flex;
            img{
                width: 100%;
                max-width: 100px;
                margin-right: 15px;
                max-height: 75px;
                @media (max-width:767px) {
                    max-height: 50px;
                    max-width: 50px;
                }
            }
        }
        p {
            font-size: $font-size-base;
            font-weight: 600;

            span {
                font-size: 0.875rem;
                color: var(--bs-gray-500);
                text-transform: uppercase;

            }

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
        &:hover{
            background-color: var(--bs-alt-purple);
        }
    }

    &.addnewcart {
        .card-details {
            display: table;
            max-width: 400px;
            border-radius: 10px;
            background: #fcfdfe;
            border: 1px solid;
            border-color: #d7d7d9;
            width: 100%;
            padding: 25px 25px;
            margin: auto;

            p {
                font-size: $font-size-base;
                font-weight: 600;

                span {
                    font-size: 0.875rem;
                    color: var(--bs-gray-500);
                    text-transform: uppercase;

                }

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }

        form {
            display: table;
            max-width: 400px;
            border-radius: 10px;
            background: #fcfdfe;
            border: 1px solid;
            border-color: #d7d7d9;
            width: 100%;
            padding: 15px 25px;
            margin: auto;

            >div {
                margin-bottom: 0px;
            }

            label {
                font-size: 18px;

                img {
                    margin: 0px 10px;
                }

                i {
                    font-size: 25px;
                    color: tomato;
                    transform: translateY(4px);

                    margin: 0px 10px 0px 6px;
                }
            }
        }
    }

    &.checkout {
        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                th {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 700;
                    text-align: left;
                    padding: 5px 15px;
                }

                .product-thumb {
                    img {
                        max-width: 130px;
                    }
                }
            }

            tbody {
                padding-bottom: 20px;

                tr {
                    td {
                        padding: 12px 15px;
                    }
                }
            }

            @media (max-width:768px) {
                tr {
                    th {
                        font-size: 10px;
                        font-weight: 500;
                        padding: 7px 5px;
                    }

                    .product-item {
                        .product-title {
                            font-size: 11px;
                        }

                        .cat {
                            font-size: 11px;
                        }
                    }

                }

                tbody {
                    tr {
                        td {
                            padding: 7px 5px;

                            &.product-thumb {
                                img {
                                    max-width: 35px;
                                }
                            }

                            .fs-small,
                            .fs-medium,
                            .price,
                            .cat-name {
                                font-size: 9px !important;
                            }
                        }
                    }
                }
            }
        }

        .cart-totals-table {
            min-width: 50%;
            max-width: 450px;

            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px 0;

                &.total {
                    border-top: 1px solid #C5C5C6;
                    // border-bottom: 1px solid #C5C5C6;
                    padding: 14px 0;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    padding-bottom: 0px;
                }
            }

            @media (max-width:768px) {
                max-width: 65%;

                h5 {
                    font-size: 12px;
                }
            }
        }
    }

    &.rgb-box {
        padding: 40px 50px;
        background-color: rgba($white, .4);
        border-radius: 30px;
        box-shadow: 0px 0px 0px 7px rgba($purple, .1);

        &.\--pss {
            padding: 40px 20px;
        }

        @media (max-width:768px) {
            padding: 30px 10px;

            &.mob-x-spacing {
                margin: 0px 15px;
            }

            &.mob-y-spacing {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &.product-card {
        border-radius: 20px;
        overflow: hidden;
        margin: 8px 0px;
        background: $white;

        .image-node {
            background-color: var(--bs-altwhite-rgb);

            figure {
                min-height: 170px;
                position: relative;
                background-position: center;
                background-color: #e6e0ec;
                padding: 20px;
                margin-bottom: 0;

                img {
                    margin: auto;
                    width: 100%;
                    max-height: 130px;
                    max-width: 100%;
                    // height: 100%;
                    object-fit: contain;
                    object-position: center;
                }

                .wishlist {
                    right: 15px;
                    top: 15px;
                    font-size: 20px;
                    position: absolute;

                    @media (max-width:767px) {
                        transform: translateX(30%) translateY(-30%);
                    }
                }
            }
        }

        .content-node {
            padding: 12px 15px;
            background-color: white;

            @media (max-width:767px) {
                padding: 7px 12px;
            }

            .title {
                margin-bottom: 0px;
                font-size: 1.25rem;
            }

            .cat {
                font-size: 16px;
                margin-bottom: 0px;

                @media (max-width:767px) {
                    font-size: 14px;
                }
            }
        }

        .pricencart-node {
            padding: 5px 15px;
            transition: .3s ease;
            background-color: orange;
            position: relative;

            .price {
                color: white;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 0px;

                // font-family: $font-special;
                @media (max-width:767px) {
                    font-size: 19px;
                }
            }

            .cart {
                position: absolute;
                right: 15px;
                top: 0;
                background-color: var(--bs-dk-orange);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease;

                i {
                    line-height: 40px;
                    font-size: 22px;
                    color: white;
                }

                transform: translateY(-50%);

                @media (max-width:767px) {
                    transform: scale(.7) translateX(30%) translateY(-50%);
                }

                img {
                    max-width: 45px;
                }
            }

        }

        @media (max-width:767px) {

            margin-bottom: 14px;

            .image-node {

                figure {
                    // max-height: 210px;
                    min-height: 110px;

                    img {
                        max-height: 100px;
                    }

                }
            }
        }

        &:hover {
            .pricencart-node {
                background-color: var(--bs-dk-orange);

                .cart {
                    background-color: orange;
                }
            }
        }

        &.\--purple {
            border: 1px solid var(--bs-gray-300);
            margin-left: 12px;
            margin-right: 12px;
            background-color: transparent;
            box-shadow: 0px 0px 20px -10px #ccc;

            .image-node {
                figure {
                    background-color: rgba($white, .6);
                }
            }

            .pricencart-node {
                background-color: var(--bs-dk-purple);

                .cart {
                    background-color: var(--bs-primary);
                }
            }

            &:hover {
                .pricencart-node {
                    background-color: var(--bs-primary);

                    .cart {
                        background-color: var(--bs-dk-purple);
                    }
                }
            }
        }

        &.\--cyan {
            border: 1px solid var(--bs-gray-300);
            margin-left: 12px;
            margin-right: 12px;
            background-color: transparent;
            box-shadow: 0px 0px 20px -10px #ccc;

            .image-node {
                figure {
                    background-color: rgba($white, .6);
                }
            }

            .pricencart-node {
                background-color: var(--bs-cyan);

                .cart {
                    background-color: var(--bs-dk-cyan);
                }
            }

            &:hover {
                .pricencart-node {
                    background-color: var(--bs-dk-cyan);

                    .cart {
                        background-color: var(--bs-cyan);
                    }
                }
            }
        }

        &.\--small {
            border: 1px solid var(--bs-gray-300);
            margin-bottom: 20px;

            .title {
                font-size: 1rem;
            }

            .cat {
                font-size: 13px;
            }

            .image-node {
                figure {
                    background-color: transparent;

                    .wishlist {
                        font-size: 17px;
                    }
                }
            }

            .pricencart-node {
                .cart {
                    width: 35px;
                    height: 35px;

                    i {
                        line-height: 35px;
                        font-size: 18px;
                    }

                    .price {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &.community-img {
        &::before {
            background-image: $communitybg;
            background-size: contain;
            background-position: center right;
            top: 27%;
            z-index: -1;
            max-width: 100vw;
            content: "";
            width: 100%;
            position: absolute;
            height: 110%;
            background-repeat: no-repeat;
            right: 10%;
        }

        &.innerpage {
            &::before {
                display: none;
            }
        }
    }

    &.mint-box {
        padding: 40px 50px;
        background-color: var(--bs-dk-purple);
        border-radius: 36px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -7%;
            top: 10%;
            width: 105%;
            height: 110%;
            background-image: $mint-bg;
            z-index: -1;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .mint-title {
            color: var(--bs-orange2);
            font-family: 'Sheeping Dogs';
            font-size: 6rem;
            line-height: 1;
            margin-top: 2%;
        }

        .mint-border-image {
            padding: 16px;
            background-color: rgba(255, 255, 255, 0.17);
            border-radius: 36px;

            img {
                border-radius: 28px;
            }
        }

        .mint-sold-details {
            p {
                color: white;
                font-size: 22px;
                margin: 20px 0;

                span {
                    display: block;
                    font-weight: 700;
                }
            }

            @media (max-width:992px) {
                p {


                    font-size: 14px;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }

                .text-white {
                    font-size: 17px !important;
                }
            }
        }

        &.mint-page {
            &::before {
                top: inherit;
                bottom: -10%;
                max-height: 500px;
                left: -15%;
                background-position: center bottom;
            }

            .wallet-details {
                margin-top: 30px;
                max-width: 600px;

                >div {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 10px 0;

                    h5,
                    p,
                    button {
                        color: white;
                        font-size: 20px;
                        margin-bottom: 0px;

                        @media (max-width:767px) {
                            font-size: 14px;

                            span {
                                font-size: 14px !important;

                            }
                        }

                        &.qty-main {
                            span {
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }
                }
            }

            @media (max-width:767px) {
                a.btn {
                    font-size: 11px !important;
                }
            }
        }

        &.soldout {
            @media (min-width:0px) {

                &::after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 48%;
                    background-color: #3c2075;
                    content: '';
                    height: 100%;
                    z-index: 0;
                    border-radius: 0px 36px 36px 0;

                }
            }

            >div {
                position: relative;
                z-index: 1;
            }
        }

    }

    &.roadmap {
        margin: 15px 15px 0;
        background-color: rgba($white, .89);
        border-radius: 30px;
        padding: 55px 15px 1px;
        // overflow: hidden;
        box-shadow: 0px 0px 70px -50px #00000027;

        .title {
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
        }

        .content {
            font-size: 16px;
            margin-bottom: 18px;
        }

        .date {
            color: #6c34a9;
            font-size: 18px;
            font-weight: 700;

            &:not(:last-of-type) {
                margin-bottom: 0px;
            }

            small {
                font-size: 15px;
                font-weight: 500;
            }
        }

        &:before {
            content: '';
            border-radius: 30px 30px 0px 0px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 30px;
            background-color: #8f1d86;
        }

        &:after {
            content: '';
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            transform: translate(0px, -45%) rotate(45deg);
            width: 25px;
            border-radius: 4px;
            height: 25px;
            background-color: #8f1d86;
        }

        @media (max-width:768px) {
            // margin-left: 15px;
            border-radius: 30px;
            padding: 14px 14px 9px 45px;
            // overflow: hidden;
            box-shadow: 0px 0px 70px -50px #00000027;

            &:before {
                width: 30px;
                height: 100%;
                border-radius: 30px 0 0 30px;
            }

            &:after {
                left: 0;
                right: initial;
                top: 0;
                border-radius: 2px;
                transform: translate(-45%, 0) rotate(45deg);

                bottom: 0;
            }

            .content {
                font-size: 14px;
                margin-bottom: 5px;
            }

            .date {
                font-size: 15px;
            }

            .title {
                margin-bottom: 5px;
            }
        }
    }

    &.advantage {
        @media (min-width:992px) {
            transform: translateY(-20%);
        }

        @media (min-width:1200px) {
            transform: translateY(-40%);
        }

        .icon-node {
            .icon {
                max-width: 55px;
                padding: 10px;
                height: 85px;
                display: block;
                object-fit: cover;
                // background-color: $silver;
                width: 100px;
                background-blend-mode: darken;

                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            border-bottom: 1px solid rgba($dark, .2);
        }

        .content-node {

            padding: 20px 10% 20px 0;

            @media (min-width:767px) {

                max-width: 240px;
            }

            .title {
                text-transform: uppercase;
                margin-bottom: 12px;
                font-family: 'Roboto';
                font-weight: 600;
            }

            p {
                font-size: 16px;
            }
        }

        @media (max-width:767px) {
            display: flex;
            border-bottom: 1px solid rgba($dark, .2);

            .icon-node {
                border-bottom: none;
            }

        }
    }

    &.whybuy-card {
        background: white;
        text-align: center;
        padding: 20px 20px 10px 20px;
        border-radius: 25px;
        transition: 0.34s all;
        border: 10px solid #5c4092;

        @media (max-width:992px) {
            margin-bottom: 10px;
        }

        // display: table;
        p {
            color: #7f828f;
            font-size: 16px;
            margin-bottom: 10px;
        }

        &:hover {
            border-color: #e7ad35;

            @media (min-width:768px) {
                transform: translate(0px, -30px) scale(1.08);
            }
        }

        img {
            margin: 0 auto 10px;
            max-width: 85px;
        }

        h4 {
            padding: 15px 0px;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 600;
        }

        @media (min-width:992px) {
            .content {
                max-width: 200px;
                margin: auto;
            }
        }

        @media (max-width:768px) {
            margin-bottom: 12px;
        }

        @media (max-width:768px) {
            padding: 15px 7px 7px 10px;
            border-width: 5px;
            display: flex;
            min-height: 125px;
            border: 5px solid rgba(#5c4092, .78);

            img {
                max-width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            h4 {
                padding: 0px !important;
                font-size: 12px !important;
                text-align: left;
                font-weight: 600;

                br {
                    display: none;
                }
            }

            .content {
                @media (max-width:768px) {
                    text-align: left;
                    width: 100%;
                }
            }

            p {
                text-align: left;
                font-size: 11px;
                margin-bottom: 3px;

                margin-top: 3px;
                margin-top: 3px;
                // display: inline;

                br {
                    display: none;
                }
            }
        }

    }
}

select {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronDownCircle-20.png);
    background-position: 98%;
    background-repeat: no-repeat;
}

.td-border {
    border-bottom: 1px solid #c9c9c9;
}